<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <!-- <link rel="stylesheet" href="../../static/css/auth.css" /> -->
  </head>
  <body>
    <input id="title" placeholder="Title" />
    <br />
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="10"
      placeholder="Description"
    ></textarea>

    <br />

    <button onclick="createPost()">Create</button>

    <script src="/static/js/dashboard.js"></script>
  </body>
</html>
