<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="../../static/css/auth.css" /> -->
  </head>
  <body>
    <a href="dashboard/create">Create</a>

    <br /><br />

    <table border="1">
      <tr>
        <th>Title</th>
        <th>Image</th>
      </tr>
      <tr>
        <td>Post 1</td>
        <td>Image 1</td>
      </tr>
    </table>

    <!-- <script src="/static/js/login.js"></script> -->
  </body>
</html>
