<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <a href="dashboard/create">Create</a>

    <br /><br />

    <table border="1">
      <tr>
        <th>Title</th>
        <th>Image</th>
      </tr>
      <% posts.forEach(function(post){ %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td>
          <a href="#">Edit</a>
        </td>
        <td>
          <button>Delete</button>
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
